.card {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 20px;
    position: relative;
}

.card.unachieved {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}

.card.achieved {
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

.card .title {
    margin-bottom: 0;
}

.card p {
    margin-top: 0;
    font-size: 12px;
    color: gray;
}

.card .error {
    position: absolute;
    top: 0;
    width: 80%;
}

.card button {
    margin-left: 5px;
}

.card button.danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.card .edit, .card .delete {
    position: absolute;
    top: 5px;
    color: darkgrey;
}

.card .edit {
    left: 5px;
}

.card .delete {
    right: 5px;
}