.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .modal {
    z-index: 2;
    background-color: #fff;
    height: auto;
    max-height: 80vh;
    border-radius: 8px;
    padding: 20px;
    width: 60vw;
    overflow: scroll;
}

.overlay .modal hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid lightgray;
    margin: 1em 0; 
    padding: 0;
}

.overlay .modal .input-group {
    max-width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay .modal .input-group label {
    display: block;
    width: 100%;
    font-size: 14px;
    color: gray;
    text-align: left;
    margin-left: 5px;
}

.overlay .modal .input-group input {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.overlay .modal .filters .input-group input{
    width: 40%;
    margin-left: 5px;
}
.overlay .modal .filters .input-group select{
    width: 40%;
    margin-right: 5px;
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media screen and (max-width: 768px) {
    .overlay .modal {
        width: 90vw;
    }
}